@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #02010A;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

nav {
  background-color: #02010A;
  color: #FFF;
  display: flex;
  justify-content: flex-end;
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; !-- o segredo.
}

nav a {
  color: #fff;
  position: relative;
  margin-left: 2em;
  text-decoration: none;
}

nav a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

header {
  background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2704&q=80');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  position: relative;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .8;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 4em;
  margin-bottom: .4em;
  margin-top: 0;
}

header p {
  margin: 0;
  font-size: 2.2em;
}

section {
  padding: 2.5em;
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.project-tile {
  border: 5px solid #696969;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #696969;
  color: #fff;
  margin: 1em;
  max-width: 250px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

h2 {
  color: #fff;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile img {
  max-width: 100%;
}

.bg {
  background-color: #272932;
  color: #FFF;
}

.social-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-ul a {
  color: #FFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: .3em .9em;
  text-decoration: none;
}

footer {
  background-color: #02010A;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 440px) {
  section {
    padding: 20px;
  }
}
